<h1>Analyzing LEGO Dataset</h1>
<img src='assets/bricks.jpg' alt='bricks' />

# Data Exploration

In [38]:
import pandas as pd

colors = pd.read_csv('data/colors.csv')

In [39]:
# Shape
colors.shape

(135, 4)

In [35]:
# Columns
colors.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

### Number of unique colors

In [41]:
colors.nunique(axis=0)['name']

135

### Number of transparent colors

In [42]:
colors.groupby('is_trans').count()

           id  name  rgb
is_trans
f         107   107  107
t          28    28   28

In [44]:
# OR with value_counts
colors.is_trans.value_counts()

is_trans
f    107
t     28
Name: count, dtype: int64